[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
ghp-import = "*"
setuptools = "==57.0.0"
shovel = "*"

[dev-packages]

[requires]
python_version = "3.8"
